version: '3'
services:
  website:
    container_name: 'website'
    image: '${WEBSITE_IMAGE}'
    ports:
      - '3000:3000'
    volumes:
      - website:/website/build/ # build files will be added at this directory !!!

  nginx:
    container_name: 'nginx'
    image: '${NGINX_IMAGE}'
    ports:
      - '80:80'
    volumes:
      - website:/usr/share/nginx/html/website # Copy React App's build files to the Nginx directory

volumes:
  website:
